<?xml version="1.0"?>

<RewriterConfig>
  <Rules>
    <!-- 错误处理 -->
    <RewriterRule>
      <LookFor>~/err/(.*)/(.+)</LookFor>
      <SendTo>~/default.aspx?type=err&amp;info=$1&amp;k=$2</SendTo>
    </RewriterRule>

    <!-- 网站主体功能结束 -->
    <RewriterRule>
      <LookFor>~/login</LookFor>
      <SendTo>~/Default.aspx?type=login</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/login/</LookFor>
      <SendTo>~/Default.aspx?type=login</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/logout</LookFor>
      <SendTo>~/Default.aspx?type=logout</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>~/logout/</LookFor>
      <SendTo>~/Default.aspx?type=logout</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>~/c/(.*)</LookFor>
      <SendTo>~/Default.aspx?type=usu&amp;info=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/s/(.*)</LookFor>
      <SendTo>~/Default.aspx?type=sus&amp;info=$1</SendTo>
    </RewriterRule>
    
    <RewriterRule>
      <LookFor>~/([\w]+)*</LookFor>
      <SendTo>~/Default.aspx</SendTo>
    </RewriterRule>

    <!-- add new plag -->
  </Rules>
</RewriterConfig>
