<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!--<configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
  </configSections>-->
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.CustomRewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <RewriterConfig ConfigSource="UrlRewriter.config"></RewriterConfig>
  
  <system.web>

    <httpModules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </httpModules>
    <httpHandlers>
      <!--<add verb="*" path="*.html"
            type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>-->
    </httpHandlers>
    
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5" />

    <httpRuntime executionTimeout="50" requestValidationMode="2.0" />
    <caching>
      <outputCache enableFragmentCache="true" enableOutputCache="true" omitVaryStar="true" sendCacheControlHeader="true" />
    </caching>
    <customErrors mode="Off">
      <error statusCode="500" redirect="/default.html" />
      <error statusCode="404" redirect="/default.html" />
    </customErrors>
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="TimeZoneShift" value="0" />
    <add key="Xmlconfig" value="config\" />
    <add key="TemplatePath" value="Template\" />
    <add key="WebTemplatePath" value="WebTemplate\" />
  </appSettings>  
  <system.webServer>
    <handlers>
      <add name="sianet" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="alldnet4.0" path="*.do" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".rss" mimeType="application/rss+xml" />
        </staticContent>
    
  </system.webServer>
</configuration>