<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="getTemplatePath" value="Template\" />
    <add key="getPlugPath" value="Plugin\" />
    <add key="getPublicdatePath" value="Publicdate\" />
    <add key="getAdminPath" value="/webadmin/" />
    <add key="logo" value="/Upload/pictures/20240530/2024053013161383.png" />
  </appSettings>
</configuration>