<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="databasecon" value="HXx1frc1WuD0TJlD/HJrmnetI6W1aV7/3LxN6jazn82czWzV35bh0wYaI1k9n1cK3NvqgzobgM7+uacXqYHWkqKUS0rFi/iW" />
    <add key="islocal" value="HLZzwoCYOA8=" />
    <add key="datatype" value="rlE8bi4fM/0=" />
    <add key="pcname" value="uw+dw2MrUzUZuOl72PmJLw==" />
    <add key="dataname" value="ilxtXP0Q1bW8SF2ZuknJFw==" />
    <add key="username" value="Hkl/xzq7Hnw=" />
    <add key="password" value="EmCwP4Ai73FNDrrjDLt3mA==" />
  </appSettings>
</configuration>