<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webcoding" value="99r+y62PpBg=" />
    <add key="othermeta" value="6NfAMtmS02Q=" />
    <add key="templatefolder" value="Vs4fiGuJ+O0=" />
    <add key="webtitle" value="1UeODTXhbGKUraLldeRAZIF4XrIZ6bPe40aRMnG8Rhj3dKmbcXlsJw==" />
    <add key="savedays" value="1ypfbYqOiX4=" />
    <add key="endpostday" value="WV2ibQFRW9k=" />
    <add key="weekplanarr" value="uw+dw2MrUzV1hybsuGVM9Q==" />
    <add key="weeksummaryarr" value="7ocrONU3XIxSe9uHLZMZhbhAaN+X1Df4XpbSFYCVBek=" />
    <add key="jixiaoarr" value="GTFozy4SbtIKeF1MMErBxQ==" />
    <add key="imgfolder" value="9vdBjwstDys=" />
    <add key="safeip" value="uw+dw2MrUzV1hybsuGVM9Q==" />
    <add key="IPlock" value="HLZzwoCYOA8=" />
    <add key="wronglock" value="HLZzwoCYOA8=" />
    <add key="wronglocknumber" value="WV2ibQFRW9k=" />
    <add key="webstatus" value="QLxT2LigKf8=" />
    <add key="author" value="Hkl/xzq7Hnw=" />
    <add key="cookiekey" value="yTf3NOKCmbju2VtgAaUM/w==" />
    <add key="sessionkey" value="yTf3NOKCmbju2VtgAaUM/w==" />
    <add key="IsThumbnail" value="rlE8bi4fM/0=" />
    <add key="ProWidth" value="ClXQy1oHO5k=" />
    <add key="ProHight" value="ClXQy1oHO5k=" />
    <add key="IsWatermark" value="rlE8bi4fM/0=" />
    <add key="WatermarkStatus" value="U1acvmfiJvQ=" />
    <add key="ImgQuality" value="Y8AhQt2rXkY=" />
    <add key="ImgWaterPath" value="aLtpd4jM6ZkXqpRofq2n9w==" />
    <add key="ImgWaterTransparency" value="pmTWg7BhBhY=" />
    <add key="WaterText" value="oocuDbYJfIZqeQ3i4YeUAw==" />
    <add key="WaterFont" value="lw4GsH5DRx0=" />
    <add key="FontSize" value="JR8GgM/X53M=" />
  </appSettings>
</configuration>